<%- contentFor('HeaderCss') %>
<%- contentFor('breadcrumb') %>

<!-- start page title -->
<div class="row">
    <div class="col-12">
        <div class="page-title-box d-flex align-items-center justify-content-between">
            <h4 class="mb-0">About Us</h4>

            <div class="page-title-right">
                <ol class="breadcrumb m-0">
                    <li class="breadcrumb-item"><a href="/admin/page/about-us">About Us Section</a></li>
                    <li class="breadcrumb-item active">First Section</li>
                </ol>
            </div>

        </div>
    </div>
</div>
<!-- end page title -->
<%- contentFor('body') %>
<% if (message!="" ) { %>
    <div class="alert alert-success">
        <%= message  %>
    </div>
<% } %>
<% if (error!="") { %>
    <div class="alert alert-danger">
        <%= error %>
    </div>
<% } %>

<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title mb-0">About Us Section</h4>
            </div>
            <form action="/admin/aboutuspage/secondsection/update" method="post" enctype="multipart/form-data">
                <div class="card-body row">
                    <%
                        let contentJSONParse = {};
                        
                        try {
                            contentJSONParse = secondsection.content 
                                ? JSON.parse(secondsection.content) 
                                : {}; // If content is null, assign an empty object
                        } catch (error) {
                            console.error("JSON Parse Error: ", error);
                            contentJSONParse = {}; // Fallback to empty object on parse error
                        }
                    %>

                    
                    <div class="mt-3 col-md-6">
                        <label class="form-label">Enter Title</label>
                        <input type="text" class="form-control" name="title" value="<%= contentJSONParse.title %>">
                    </div>
                    <div class="mt-3 col-md-6">
                        <label class="form-label">Enter Sub Title</label>
                        <input type="text" class="form-control" name="sub_title" value="<%= contentJSONParse.sub_title %>">
                    </div>
                    
                    <div class="mt-3">
                        <label class="form-label">Enter content one</label>
                        <textarea name="content_one" class="form-control" rows="6"><%= contentJSONParse.content_one %></textarea>                            
                    </div>
                    <hr class="mt-3">
                    
                    <div class="mt-3">
                        <label class="form-label">Enter content two</label>
                        <textarea name="content_two" class="form-control" rows="6"><%= contentJSONParse.content_two %></textarea>                            
                    </div>
                    <hr class="mt-3">
                    
                    
                    
                </div>
                <div class="card-footer">
                    <div class="row">
                        <div class="col-md-6 text-left">
                            <a href="/admin/page/about-us" class="btn btn-secondary w-md">Back</a>
                        </div>
                        <div class="col-md-6 text-right">
                            <input type="hidden" name="id" value="<%= secondsection.id %>">
                            <button type="submit" class="btn btn-primary w-md float-end">Submit</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<!-- End Form Layout -->


<%- contentFor('FooterJs') %>
<%- contentFor('BottomJs') %>