<%- contentFor('HeaderCss') %>

    <%- contentFor('breadcrumb') %>

        <!-- start page title -->
        <div class="row">
            <div class="col-12">
                <div class="page-title-box d-flex align-items-center justify-content-between">
                    <h4 class="mb-0">Categories</h4>

                    <div class="page-title-right">
                        <ol class="breadcrumb m-0">
                            <li class="breadcrumb-item"><a href="/admin/categories">Categories</a></li>
                            <li class="breadcrumb-item active">Add</li>
                        </ol>
                    </div>

                </div>
            </div>
        </div>
        <!-- end page title -->

        <%- contentFor('body') %>

        <% if (message!="" ) { %>
            <div class="alert alert-success">
                <%= message  %>
            </div>
        <% } %>
        <% if (error!="") { %>
            <div class="alert alert-danger">
                <%= error %>
            </div>
        <% } %>
        
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title mb-0">Add Category</h4>
                    </div>
                    <div class="card-body">
                        <form action="/admin/category/save" method="post" enctype="multipart/form-data">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="mb-3">
                                        <label class="form-label" for="title">Title <span class="text-danger">*</span></label>
                                        <input type="text" class="form-control" placeholder="Enter title" id="title" name="title" value="" required >
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="mb-3">
                                        <label class="form-label" for="cat_image">Category image</label>
                                        <input type="file" class="form-control"  id="cat_image" name="cat_image">
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="mb-3">
                                        <label class="form-label" for="description" >Description</label>
                                        <textarea class="form-control" placeholder="Enter about category" rows="5" id="description" name="description"></textarea>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6 text-left">
                                    <a href="/admin/categories" class="btn btn-secondary w-md">Back</a>
                                </div>
                                <div class="col-md-6 text-right">
                                    <button type="submit" class="btn btn-primary w-md float-end">Submit</button>
                                </div>
                            </div>
                            
                        </form>
                       
                    </div>
                </div>
            </div>
        </div>
        <!-- End Form Layout -->


    <%- contentFor('FooterJs') %>
    <%- contentFor('BottomJs') %>