<%- contentFor('HeaderCss') %>
<%- contentFor('breadcrumb') %>
<div class="row">
    <div class="col-12">
        <div class="page-title-box d-flex align-items-center justify-content-between">
            <h4 class="mb-0">Article</h4>

            <div class="page-title-right">
                <ol class="breadcrumb m-0">
                    <li class="breadcrumb-item"><a href="/admin/page/publication">Contacts</a></li>
                    <li class="breadcrumb-item active">Add</li>
                </ol>
            </div>
        </div>
    </div>
</div>
<%- contentFor('body') %>
<% if (message!="" ) { %>
    <div class="alert alert-success">
        <%= message  %>
    </div>
<% } %>
<% if (error!="") { %>
    <div class="alert alert-danger">
        <%= error %>
    </div>
<% } %>

<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title mb-0">Add Article</h4>
            </div>
            <div class="card-body">
                <form action="/admin/article/save" method="post">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="mb-3">
                                <label class="form-label" for="title">Title <span class="text-danger">*</span></label>
                                <input type="text" class="form-control" placeholder="Enter Title" id="title" name="title" value="" required >
                            </div>
                        </div>
                        <div class="col-md-6"></div>
                        <div class="col-md-6">
                            <div class="mb-3">
                                <label class="form-label" for="title">Address <span class="text-danger">*</span></label>
                                <input type="text" class="form-control" placeholder="Enter address" id="address" name="address" value="" required >
                            </div>
                        </div>
                        <div class="col-md-6"></div>
                        <div class="col-md-6">
                            <div class="mb-3">
                                <label class="form-label" for="title">Email <span class="text-danger">*</span></label>
                                <input type="text" class="form-control" placeholder="Enter email" id="email" name="email" value="" required >
                            </div>
                        </div>
                        <div class="col-md-6"></div>
                        <div class="col-md-6">
                            <div class="mb-3">
                                <label class="form-label" for="title">Number <span class="text-danger">*</span></label>
                                <input type="text" class="form-control" placeholder="Enter number" id="number" name="number" value="" required >
                            </div>
                        </div>
                        <div class="col-md-6"></div>
                    </div>
                    <div class="row">
                        <div class="col-md-3 text-left">
                            <a href="/admin/page/publication" class="btn btn-secondary w-md">Back</a>
                        </div>
                        <div class="col-md-3 text-right">
                            <button type="submit" class="btn btn-primary w-md float-end">Submit</button>
                        </div>
                    </div>                  
                </form>               
            </div>
        </div>
    </div>
</div>

<%- contentFor('FooterJs') %>
<%- contentFor('BottomJs') %>