<%- contentFor('HeaderCss') %>
<%- contentFor('breadcrumb') %>

<!-- start page title -->
<div class="row">
    <div class="col-12">
        <div class="page-title-box d-flex align-items-center justify-content-between">
            <h4 class="mb-0">Home</h4>

            <div class="page-title-right">
                <ol class="breadcrumb m-0">
                    <li class="breadcrumb-item"><a href="/admin/pages">Home page</a></li>
                    <li class="breadcrumb-item active">First Section</li>
                </ol>
            </div>

        </div>
    </div>
</div>
<!-- end page title -->
<%- contentFor('body') %>
<% if (message!="" ) { %>
    <div class="alert alert-success">
        <%= message  %>
    </div>
<% } %>
<% if (error!="") { %>
    <div class="alert alert-danger">
        <%= error %>
    </div>
<% } %>

<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title mb-0">Home page</h4>
            </div>
            <form action="/admin/m&a-verhandlung/firtsection/update" method="post" enctype="multipart/form-data">
                <div class="card-body">
                    <%
                        const contentJSONParse = JSON.parse(firstsection?.content);
                    %>
                    <div class="row">
                        <div class="col-md-6">
                            <label class="form-label">Main Title <span class="text-danger">*</span></label>
                            <input type="text" class="form-control" placeholder="Enter main title" name="main_title" value="<%= contentJSONParse?.main_title %>" required >
                        </div>
                        <div class="col-md-6">
                            <label class="form-label">Sub Title <span class="text-danger">*</span></label>
                            <input type="text" class="form-control" placeholder="Enter sub title" name="subtitle" value="<%= contentJSONParse?.subtitle %>" required >
                        </div>
                        <div class="col-md-6 mt-3">
                            <label class="form-label">Desktop Banner image<span class="text-danger">*</span></label>
                            <input type="file" class="form-control" name="desktop_banner_image" value="">
                            <% if(contentJSONParse.desktop_banner_image!="" && contentJSONParse.desktop_banner_image != null){ %>
                                <div class="image-container mt-3"> 
                                    <div class="inner">
                                        <img src="<%= contentJSONParse.desktop_banner_image %>" width="200" />
                                    </div>
                                </div>
                            <% } %>
                        </div>
                        <div class="col-md-6 mt-3">
                            <label class="form-label">Mobile Banner image<span class="text-danger">*</span></label>
                            <input type="file" class="form-control" name="mobile_banner_image" value="">
                            <% if(contentJSONParse.mobile_banner_image!="" && contentJSONParse.mobile_banner_image != null){ %>
                                <div class="image-container mt-3"> 
                                    <div class="inner">
                                        <img src="<%= contentJSONParse.mobile_banner_image %>" width="200" />
                                    </div>
                                </div>
                            <% } %>
                        </div>
                    </div>
                </div>
                <div class="card-footer">
                    <div class="row">
                        <div class="col-md-6 text-left">
                            <a href="/admin/pages" class="btn btn-secondary w-md">Back</a>
                        </div>
                        <div class="col-md-6 text-right">
                            <input type="hidden" name="id" value="<%= firstsection.id %>">
                            <button type="submit" class="btn btn-primary w-md float-end">Submit</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<!-- End Form Layout -->


<%- contentFor('FooterJs') %>
<%- contentFor('BottomJs') %>