<%- contentFor('HeaderCss') %>
<%- contentFor('breadcrumb') %>

<!-- start page title -->
<div class="row">
    <div class="col-12">
        <div class="page-title-box d-flex align-items-center justify-content-between">
            <h4 class="mb-0">Home</h4>

            <div class="page-title-right">
                <ol class="breadcrumb m-0">
                    <li class="breadcrumb-item"><a href="/admin/pages">Home page</a></li>
                    <li class="breadcrumb-item active">Fourth Section</li>
                </ol>
            </div>

        </div>
    </div>
</div>
<!-- end page title -->
<%- contentFor('body') %>
<% if (message!="" ) { %>
    <div class="alert alert-success">
        <%= message  %>
    </div>
<% } %>
<% if (error!="") { %>
    <div class="alert alert-danger">
        <%= error %>
    </div>
<% } %>

<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title mb-0">Home page</h4>
            </div>
            <form action="/admin/homepage/fourthsection/update" method="post" enctype="multipart/form-data">
                <div class="card-body">
                    <%
                        const contentJSONParse = JSON.parse(fourthsection.content);
                    %>
                    <!-- <div class="row"> -->
                    <div class="row">
                        <div class="col-md-6">
                            <div class="mt-3">
                                <label for="" class="form-label">Select image One</label>
                                <input type="file" class="form-control" name="image_one">
                                <% if(contentJSONParse.image_one!="" && contentJSONParse.image_one != null){ %>
                                    <div class="image-container mt-3"> 
                                        <div class="inner">
                                            <img src="<%= contentJSONParse.image_one %>" width="200" />
                                        </div>
                                    </div>
                                <% } %>
                            </div>
                            <div class="mt-3">
                                <label for="" class="form-label">Title one</label>
                                <input type="text" class="form-control" name="title_one" value="<%= contentJSONParse.title_one %>">
                            </div>
                            <div class="mt-3">
                                <label for="" class="form-label">Button label one</label>
                                <input type="text" class="form-control" name="button_label_one" value="<%= contentJSONParse.button_label_one %>">
                            </div>
                            <div class="mt-3">
                                <label for="" class="form-label">Button Link one</label>
                                <input type="text" class="form-control" name="button_link_one" value="<%= contentJSONParse.button_link_one %>">
                            </div>
                            <div class="mt-3">
                                <label for="" class="form-label">Content one</label>
                                <textarea name="content_one" rows="4" class="form-control content_one"><%= contentJSONParse.content_one %></textarea>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="mt-3">
                                <label for="" class="form-label">Select image two</label>
                                <input type="file" class="form-control" name="image_two">
                                <% if(contentJSONParse.image_two != "" && contentJSONParse.image_two != null){ %>
                                    <div class="image-container mt-3"> 
                                        <div class="inner">
                                            <img src="<%= contentJSONParse.image_two %>" width="200" />
                                        </div>
                                    </div>
                                <% } %>
                            </div>
                            <div class="mt-3">
                                <label for="" class="form-label">Title two</label>
                                <input type="text" class="form-control" name="title_two" value="<%= contentJSONParse.title_two %>">
                            </div>
                            <div class="mt-3">
                                <label for="" class="form-label">Button label two</label>
                                <input type="text" class="form-control" name="button_label_two" value="<%= contentJSONParse.button_label_two %>">
                            </div>
                            <div class="mt-3">
                                <label for="" class="form-label">Button link two</label>
                                <input type="text" class="form-control" name="button_link_two" value="<%= contentJSONParse.button_link_two %>">
                            </div>
                            <div class="mt-3">
                                <label for="" class="form-label">Content two</label>
                                <textarea name="content_two" rows="4" class="form-control content_two"><%= contentJSONParse.content_two %></textarea>
                            </div>
                        </div>
                        <hr class="mt-3" />
                        <div class="col-md-6">
                            <div class="mt-3">
                                <label for="" class="form-label">Select image three</label>
                                <input type="file" class="form-control" name="image_three">
                                <% if(contentJSONParse.image_three!="" && contentJSONParse.image_three != null){ %>
                                    <div class="image-container mt-3"> 
                                        <div class="inner">
                                            <img src="<%= contentJSONParse.image_three %>" width="200" />
                                        </div>
                                    </div>
                                <% } %>
                            </div>
                            <div class="mt-3">
                                <label for="" class="form-label">Title three</label>
                                <input type="text" class="form-control" name="title_three" value="<%= contentJSONParse.title_three %>">
                            </div>
                            <div class="mt-3">
                                <label for="" class="form-label">Button label three</label>
                                <input type="text" class="form-control" name="button_label_three" value="<%= contentJSONParse.button_label_three %>">
                            </div>
                            <div class="mt-3">
                                <label for="" class="form-label">Button link three</label>
                                <input type="text" class="form-control" name="button_link_three" value="<%= contentJSONParse.button_link_three %>">
                            </div>
                            <div class="mt-3">
                                <label for="" class="form-label">Content three</label>
                                <textarea name="content_three" rows="4" class="form-control content_three"><%= contentJSONParse.content_three %></textarea>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="mt-3">
                                <label for="" class="form-label">Select image four</label>
                                <input type="file" class="form-control" name="image_four">
                                <% if(contentJSONParse.image_four!="" && contentJSONParse.image_four != null){ %>
                                    <div class="image-container mt-3"> 
                                        <div class="inner">
                                            <img src="<%= contentJSONParse.image_four %>" width="200" />
                                        </div>
                                    </div>
                                <% } %>
                            </div>
                            <div class="mt-3">
                                <label for="" class="form-label">Title four</label>
                                <input type="text" class="form-control" name="title_four" value="<%= contentJSONParse.title_four %>">
                            </div>
                            <div class="mt-3">
                                <label for="" class="form-label">Button label four</label>
                                <input type="text" class="form-control" name="button_label_four" value="<%= contentJSONParse.button_label_four %>">
                            </div>
                            <div class="mt-3">
                                <label for="" class="form-label">Button link four</label>
                                <input type="text" class="form-control" name="button_link_four" value="<%= contentJSONParse.button_link_four %>">
                            </div>
                            <div class="mt-3">
                                <label for="" class="form-label">Content four</label>
                                <textarea name="content_four" rows="4" class="form-control content_four"><%= contentJSONParse.content_four %></textarea>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-footer">
                    <div class="row">
                        <div class="col-md-6 text-left">
                            <a href="/admin/pages" class="btn btn-secondary w-md">Back</a>
                        </div>
                        <div class="col-md-6 text-right">
                            <input type="hidden" name="id" value="<%= fourthsection.id %>">
                            <button type="submit" class="btn btn-primary w-md float-end">Submit</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<!-- End Form Layout -->


<%- contentFor('FooterJs') %>
<%- contentFor('BottomJs') %>
<script src="/assets/libs/@ckeditor/ckeditor5-build-classic/build/ckeditor.js"></script>
<script type="text/javascript">
    ClassicEditor.create(
        document.querySelector(".content_one"),
        {
            ckfinder: {
                uploadUrl: '/admin/page/editor/upload'
            },
        }
    )
    .then(function (editor) {
        console.log('CKEditor initialized successfully:', editor);
        editor.ui.view.editable.element.style.height = "200px";
    })
    .catch(function (error) {
        console.error('Error initializing CKEditor:', error);
    });

    ClassicEditor.create(
        document.querySelector(".content_two"),
        {
            ckfinder: {
                uploadUrl: '/admin/page/editor/upload'
            },
        }
    )
    .then(function (editor) {
        console.log('CKEditor initialized successfully:', editor);
        editor.ui.view.editable.element.style.height = "200px";
    })
    .catch(function (error) {
        console.error('Error initializing CKEditor:', error);
    });

    ClassicEditor.create(
        document.querySelector(".content_three"),
        {
            ckfinder: {
                uploadUrl: '/admin/page/editor/upload'
            },
        }
    )
    .then(function (editor) {
        console.log('CKEditor initialized successfully:', editor);
        editor.ui.view.editable.element.style.height = "200px";
    })
    .catch(function (error) {
        console.error('Error initializing CKEditor:', error);
    });

    ClassicEditor.create(
        document.querySelector(".content_four"),
        {
            ckfinder: {
                uploadUrl: '/admin/page/editor/upload'
            },
        }
    )
    .then(function (editor) {
        console.log('CKEditor initialized successfully:', editor);
        editor.ui.view.editable.element.style.height = "200px";
    })
    .catch(function (error) {
        console.error('Error initializing CKEditor:', error);
    });
</script>